body, p, h1, h2, ul, li, a {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    max-width: 540px;
    font-weight: normal;
    font-size: 1.875em;
    line-height: 45px;
}

h1 span {
    font-weight: bold;
}

li {
    background: #E7E7E8;
    height: 40px;
    line-height: 40px;
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid #6c63ff;
}

button {
    background: #6c63ff;
    height: 40px;
    width: 0px;
    color: #fff;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    border: none;
    float: left;
    cursor: pointer;
}

li:hover button {
    width: 40px;
    opacity: 1;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 30px;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	outline: none;
}


.container {
    max-width: 960px;
    margin: 0 auto;
}


.header {
  background: #6c63ff;
  padding: 20px;
}

.header p {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.intro {
    display: flex;
    align-items: center;
    padding: 15px;
}

@media only screen and (max-width: 750px) {

    .intro {
        flex-wrap: wrap;
    }
        .intro-h1 {
            width: 500px;
            text-align: center;
            margin: 0 auto;
        }
}

.intro-img {
    margin-top: 100px;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
    padding: 15px;
}

@media only screen and (max-width: 750px) {
    .content {
        flex-wrap: wrap;
    }

    .content p {
        margin: 0 auto;
        text-align: center;
    }

    .content img {
        margin: 0 auto;
    }
}

.content img {
    width: 50%;
}

.content p {
    max-width: 400px;
    font-size: 1em;
    line-height: 24px;
}

.content p span {
    font-style: italic;
}

.container-todo {
    max-width: 500px;
    margin: 100px auto;
    padding: 0px 20px;
}

.container-todo p {
    background: #6c63ff;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

.todo {
    margin-top: 100px;
}

.todo-h2 {
    text-align: center;
}


.completed {
    color: grey;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}


.quebra {
    border: 1px solid #6c63ff;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.form {
    background: #f7f7f7; 
    display: flex;
    align-items: center;
}

.btn-input {
    width: 20%;
    background: #6c63ff;
    opacity: 1;
}


.btn-input:hover {
    color: #4d4d4d;
}

@media only screen and (max-width: 750px) { 
    .btn-input {
        left: 270px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6c63ff;
    padding: 15px;
}

.footer p {
    color: #fff;
    line-height: 24px;
}