body, p, h1, h2, ul, li, a {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: #3494E6;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #EC6EAD, #3494E6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-todo {
    max-width: 500px;
    margin: 100px auto;
    padding: 0px 20px;
}

.header {
  background: #6c63ff;
  padding: 20px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    color: #fff;
    line-height: 24px;
}

h2 {
    background: #6c63ff;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
    cursor: pointer;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

button {
    background: #6c63ff;
    height: 40px;
    width: 0px;
    color: #fff;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    border: none;
    float: left;
    cursor: pointer;
}

li:hover button {
    width: 40px;
    opacity: 1;
}

input {
	font-size: 18px;
	color: #6c63ff;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 30px;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid #6c63ff;
	outline: none;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}

.intro {
    display: flex;
}